#bodyTop {
    position: relative;
    height: 300px;
    width: 300px;
    border-radius: 100%;
    background-color: rgb(83, 138, 241);
}

#bodyBottom {
    position: relative;
    height: 400px;
    width: 300px;
    top: 157px;
    background-color: rgb(83,138,241);
}

.eye {
    position: relative;
    height: 90px;
    width: 90px;
    border-radius: 100%;
    border: solid 3px black;
    background-color: white;
}

.left {
    position: relative;
    top: -255px;
    left: 53px;
}

.right {
    position: relative;
    top: -354px;
    left: 148px;
}

.pupil {
    position: relative;
    height: 15px;
    width: 15px;
    top: 35px;
    left: 35px;
    border-radius: 100%;
    border: solid 3px black;
    background-color: black;
}

.mouth {
    position: relative;
    height: 80px;
    width: 150px;
    top: -300px;
    left: 78px;
    border-radius:0 0 100px 100px;
    background-color: black;
}

#tongue {
    position: relative;
    height: 36px;
    width: 90px;
    top: -335px;
    left: 110px;
    border-radius: 100% 100% 100% 100%;
    background-color: rgb(255, 113, 113);
}